// Start Footer Style 
.footer {
    transition: $transation;
    .footer-top {
        height: auto;
        background-color: $dark-color;
        padding: 80px 0;
        margin-top: 50px;
        .container {
            width: 100%;
            height: 100%;
        }
        p {
            color: #999;
            line-height: 25px;
        }
        h2,
        h3 {
            color: #fff;
        }
        h2 {
            font-size: 18px;
        }
        .segment-one {
            h3 {
                font-family: Courgette;
                color: #fff;
                letter-spacing: 3px;
                margin: 10px 0;
            }
        }
        .segment-tow {
            h2 {
                color: #fff;
                font-family: poppins;
                text-transform: uppercase;
            }
            h2:before {
                content: "|";
                color: $danger-color;
                padding-right: 10px;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                    line-height: 40px;
                    a {
                        color: #999 !important;
                        text-decoration: none;
                    }
                }
            }
        }
        .segment-three {
            h2 {
                color: #fff;
                font-family: poppins;
                text-transform: uppercase;
            }
            h2:before {
                content: '|';
                color: $danger-color;
                padding-right: 10px;
            }
            a {
                background-color: #494848;
                width: 40px;
                height: 40px;
                display: inline-block;
                border-radius: 50%;
                i {
                    font-size: 20px;
                    color: #fff;
                    padding: 10px 12px;
                }
            }
        }
        .segment-four {
            h2 {
                color: #fff;
                font-family: Poppins;
                text-transform: uppercase;
            }
            h2:before {
                content: '|';
                color: $danger-color;
                padding-right: 10px;
            }
            form input[type=submit] {
                background: linear-gradient(to left, #6a2b31, #dc3545);
                border: none;
                padding: 3px 7px;
                margin-left: -5px;
                color: #fff;
                text-transform: uppercase;
                text-align: center;
            }
        }
    }
    .footer-bottom-text {
        text-align: center;
        background: $dark-color;
        line-height: 75px;
        margin: 0;
        // margin-left: $left-side-width;
        color: white;
    }
    @media only screen and (min-width:768px) and (max-width:991px) {
        .md-mb-30 {
            margin-bottom: 30px;
        }
        .footer-bottom-text {
            margin: 0;
        }
    }
    @media only screen and (max-width:767px) {
        .sm-mb-30 {
            margin-bottom: 30px;
        }
        .footer-top {
            padding: 50px 0;
        }
        .footer-bottom-text {
            margin: 0;
        }
    }
    @media screen and (max-width: 767px) {
        // footer for small width
        .footer-top {
            width: 100%;
            margin: 0;
        }
    }
}