//Here we determine all the colors
$primary-color: #007bff !important;
$secondary-color: #6c757d !important; //page , body color
$success-color: #28a745 !important;
$danger-color:#a62a2a !important;
$light-color:#f8f9fa !important;
$dark-color:#434343 !important;
$muted-color:#6c757d !important;
$white-color:#fff !important;
$warning-color:#ffc107 !important;
$transation: all .5s;